<button type="button" (click)="onDisplay()" class="btn btn-primary btn-lg col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">Display Available List</button>
<br>
<hr>
<!--<ul *ngFor="let data of listOfData">
  <li>{{data.PropertyName }}</li>

</ul>-->

<!--<table class="table table-striped" >
  <thead>
  <th>PrpertyId</th>
  <th>PropertyName</th>
  <th>Buy Property</th>
  </thead>
  <tbody>
  <tr *ngFor="let data of listOfData">
    <td>{{data.PropertyId }}</td>
    <td>{{data.PropertyName }}</td>
   <td>{{data.PropertyThumb2}}</td>
  </tr>
  </tbody>
</table>-->

<div class="panel panel-default" *ngFor="let data of listOfData">
  <div class="panel-heading">
    <!--<a routerLink="['appoinment',data]">-->
    <h3 class="panel-title">Property Id:{{data.PropertyId}},{{data.PropertyName }}</h3>
    <!--</a>-->
  </div>
  <div class="panel-body">
    {{data.PropertyAddress1}},{{data.PropertyAddress2}}
  </div>
  <button (click)="OnSubmitData(data)">Click me</button>
</div>

