<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <ul class="nav nav-pills nav-stacked">
        <li><a routerLink="./patient-home">PatientHome</a></li>
        <li><a routerLink="./signup">New User</a></li>
        <li><a routerLink="./sign-in">Returning User</a></li>
        <li><a routerLink=#>View Appoinments</a></li>
       <!-- <li><a routerLink="./appoinment">Schedule Appointment</a></li>-->
       </ul>
    </div>
    <div class="col-xs-8">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>





